<% content_for :home do %>
    <div class="banner">
    	<div class="container">
        	<div class="header-text">
            	<p class="big-text">A Teamwork web application</p>
                <h2>Report Before Blame</h2>
                <p class="small-text">Discover the new simple and formal way to report a problem to your development team.</p>
                <div class="button-section">
                	<ul>
										<% if current_stakeholder %>
										<li><a href="/reports"  class="top-button white white-solo">Let's Report</a></li>
									  <% else %>
											<li><a href="/stakeholders/sign_in" class="top-button white">Sign in</a></li>
											<li><a href="/stakeholders/sign_up" class="top-button blue">Sign up</a></li>
									  <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="desc">
    	<div class="container">
        	<h2>New Times | New Tools</h2>
            <p>"We can not solve problems using the same thinking we used when we created them " - Albert Einstein.</p>
        </div>
    </div>

    <div class="features" id="features">
    	<div class="container">
        	<!--<h3 class="text-head">Be simple</h3>-->
        	<div class="features-section">
                <ul>
                	<li>
											<%=image_tag("guy.png")%>
                     	<h4>Be a Stakeholder</h4>
                        <p>Get involved in the project, help your team, be the hero that they need</p>
                     </li>
                     <li>
                    	<%=image_tag("time.png")%>
                     	<h4>Be Fast</h4>
                        <p>Communicate quickly and easily the bugs to your development team</p>
                     </li>
                     <li>
                    	<%=image_tag("window.png")%>
                     	<h4>Be Precise</h4>
                        <p>BLA BLA BLA BLA BLA BLA BLA BLA</p>
                     </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="stories" id="stories">
    	<div class="container">
        	<h3 class="text-head">Capturas</h3>
            <p class="box-desc">BLA BLA BLA BLA BLA BLA BLA BLA</p>
        	<div class="stories-section">
            	<ul>
                	<li>
                    	<a href="#">
                    	<%=image_tag("story1.png", class: "story-img")%>
                        	<div class="story-box">
                            	<h4>Captura 1</h4>
                        		<p>BLA BLA BLA BLA BLA BLA BLA BLA</p>

                            </div>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
											<%=image_tag("story2.png", class: "story-img")%>
                        	<div class="story-box">
                            	<h4>Captura 2</h4>
                        		<p>BLA BLA BLA BLA BLA BLA BLA BLA</p>

                            </div>
                        </a>
                    </li>
                    <li>
                    	<a href="#">
                    	<%=image_tag("story3.png", class: "story-img")%>
                        	<div class="story-box">
                            	<h4>Captura 3</h4>
                        		<p>BLA BLA BLA BLA BLA BLA BLA BLA</p>

                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        	<div class="container">
            	<div class="infooter">
                <p class="copyright"> 2016 - Developed by Michel Maes </p>
            	</div>

            </div>
        </div>
	  <script type="text/javascript" src="jquery.nicescroll.min.js"></script>
	  <script type="text/javascript">
			 $(document).ready(function() {
				$('#simple-menu').sidr({
				side: 'right'
			});
			});
			$('.responsive-menu-button').sidr({
				name: 'sidr-main',
				source: '#navigation',
				side: 'right'

				});
			$(document).ready(
			function() {
			$("html").niceScroll({cursorborder:"0px solid #fff",cursorwidth:"5px",scrollspeed:"70"});
			}
			);
		</script>

<% end %>
