<% content_for :new_user do %>
<div class="report">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="col-sm-0">
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control", placeholder:"Enter Name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class:"form-control", placeholder:"Enter Lastame" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"email@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Enter your password"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirm your password" %>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-info">Sign up</button>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>
</div>
