

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.radio_button :priority, 'Low' %>
    <%= f.label "Low" %><br>
    <%= f.radio_button :priority, 'Medium', checked: true %>
    <%= f.label "Medium" %><br>
    <%= f.radio_button :priority, 'High' %>
    <%= f.label "High" %><br>
  </div>
  <div class="field">
    <%= f.label :report_type %>
    <%= f.select :report_type, ['Interface', 'Feedback', 'Security', 'Other'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
