
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>List of Reports</h2></div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Priority</th>
          <th>Stakeholder</th>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
              <!--<%= link_to report.title, report %>-->
              <%= link_to report.title, report, class:"yellow" %>
            </td>
            <td><%= report.report_type %></td>
            <td><% case report.priority
               when "High" %>
            <span class="label label-danger">High</span>
            <% when "Medium" %>
            <span class="label label-warning">Medium</span>
            <% when "Low" %>
            <span class="label label-success">Low</span>
            <% end %></td>
            <td><%= link_to report.stakeholder.name, report.stakeholder %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<%= button_to "Add report", new_report_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-info", :method => :get %>
<br>
