    <div id="PanelReport" class="panel panel-default">
      <div class="panel-heading">
          <div class="text-center">
              <h3><strong><%= @report.id %>#<%= @report.title %></strong></h3>
          </div>
          <div class="row show-grid">
              <div class="col-md-4 text-center">
                <%= link_to 'By '+@report.stakeholder.name+" "+@report.stakeholder.lastname, @report.stakeholder %>
              </div>
              <div class="col-md-2 text-center">
                  <% case @report.priority
                     when "High" %>
                  <span id="priority" class="label label-danger">High</span>
                  <% when "Medium" %>
                  <span id="priority" class="label label-warning">Medium</span>
                  <% when "Low" %>
                  <span id="priority" class="label label-success">Low</span>
                  <% end %>
              </div>
              <div class="col-md-2 text-center">
                  <span class="label label-default"><% case @report.report_type
                  when "Interface" %>
                  <span class="glyphicon glyphicon-picture" ></span> Interface
                  <% when "Security" %>
                  <span class="glyphicon glyphicon-lock" ></span> Security
                  <% when "Feedback" %>
                  <span class="glyphicon glyphicon-user" ></span> Feedback
                  <% when "Other" %>
                  <span class="glyphicon glyphicon-question-sign" ></span> Other
                  <% end %></span></div>
              <div class="col-md-4 text-muted text-center"><%= @report.created_at%></div>
          </div>
      </div>
      <div class="panel-body">
            <%= safe_join(@report.content.split("\r\n"), "<br />".html_safe) %>
            <br></br>
          <ul class="list-group">
            <% @report.answers.each do |answer| %>
            <li class="list-group-item">
              <h6><span class="label label-default"><%= answer.stakeholder.name %></span>
                <% case answer.answer_type
                when "FIXED" %>
                <span class="label label-success">Fixed</span>
                <% when "CANT FIX IT" %>
                <span class="label label-danger">Can't fix it</span>
                <% when "NO FIX" %>
                <span class="label label-warning">No fix yet</span>
                <% when 'NOT NEED' %>
                <span class="label label-info">Doesn't need fix</span><br>
                <% end %>
              </h6>
              <pre wrap="soft"><%= answer.content %></pre>

            </li>
            <% end %>
          </ul>
          <% if current_stakeholder.role == "Developer" %>
            <%= render 'form_answer' %>
          <% end %>
      </div>
      <div class="panel-footer" center>
        <% if current_stakeholder.id ==  @report.stakeholder_id || current_stakeholder.role == "Developer"%>
          <div class="row" id="ReportFoot">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <input class="btn btn-info btn-block" type="post" value="Edit" onClick=" window.location.href='<%= edit_report_path(@report) %>' ">
            </div>
            <div class="col-md-3">
              <%= button_to "Delete", @report, :method => :delete, class: "btn btn-danger btn-block" %>
            </div>
            <div class="col-md-3"></div>
          </div>
        <% end %>
      </div>
    </div>
</div>
