<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading"><%= @report.title %></div>
  <p>
    <div class="panel-body">
      <% case @report.priority
         when "High" %>
      <span class="label label-danger">High</span>
      <% when "Medium" %>
      <span class="label label-warning">Medium</span>
      <% when "Low" %>
      <span class="label label-success">Low</span>
      <% end %>
      <span class="label label-info"><%= @report.report_type %></span>
  </p>
    <pre><%= safe_join(@report.content.split("\r\n"), "<br />".html_safe) %></pre></br>
    <strong>Posted By:</strong>
    <%= @report.stakeholder.name %>

  </div>
</div>



<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Reports', reports_path %>
