
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <h3><strong><div class="panel-heading"><%= @report.id %>#<%= @report.title %></div></strong></h3>
  <p>
    <div class="panel-body">
      <% case @report.priority
         when "High" %>
      <span class="label label-danger">High</span>
      <% when "Medium" %>
      <span class="label label-warning">Medium</span>
      <% when "Low" %>
      <span class="label label-success">Low</span>
      <% end %>
      <% case @report.report_type
      when "Interface" %>
      <span class="label label-info"><span class="glyphicon glyphicon-picture" ></span> Interface </span>
      <% when "Security" %>
      <span class="label label-info"><span class="glyphicon glyphicon-lock" ></span> Security </span>
      <% when "Feedback" %>
      <span class="label label-info"><span class="glyphicon glyphicon-user" ></span> Feedback </span>
      <% when "Other" %>
      <span class="label label-info"><span class="glyphicon glyphicon-question-sign" ></span> Other </span>
      <% end %>
      <kbd><span  class="date"><%= @report.created_at%></span></kbd>
  </p>
    <pre wrap="soft"><%= safe_join(@report.content.split("\r\n"), "<br />".html_safe) %></pre>
    <strong>Posted By:</strong>
    <%= @report.stakeholder.name %> <%= @report.stakeholder.lastname %>

  </div>
</div>
</br>

<% if current_stakeholder.id ==  @report.stakeholder_id%>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back to Reports', reports_path %>
