<!DOCTYPE html>
<html>
<head>
  <title>ReportBeforeFlame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_stakeholder %>
  <% if controller_name != 'main' %>
    <div class="alert alert-info" role="alert" id="fixed">

    Connected as <%= current_stakeholder.name %> - <%= link_to 'Logout', destroy_stakeholder_session_path, method: :delete %>
    </div>
  <% end %>
  <%= yield :home %>
  <%= yield %>

<% else %>
        <%= yield :home %>
        <%= yield :new_session %>
        <%= yield :new_user %>
<% end %>

</body>
</html>
