<!DOCTYPE html>
<html>
<head>
  <title>ReportBeforeBlame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %><!-- Latest compiled and minified CSS -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For bootstrap-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Extant-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extant - Free HTML5 Templates 2014</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300,200' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/responsive.css" rel="stylesheet" media="screen" type="text/css"/>
    <link rel="stylesheet" href="sidr/stylesheets/jquery.sidr.dark.css">
    <script src="js/jquery.min.js"></script>
    <script src="sidr/jquery.sidr.min.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>

</head>
<body>



<div class="col-md-2 col-xs-0"></div>

<% if current_stakeholder %>

    <% if controller_name != 'main' %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=<%= main_index_path %>>ReportBeforeFrame</a>

        </div>
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><%= link_to "Reports", reports_path %></li>
          <li><%= link_to "MyTeam", stakeholders_path %></li>
          <li><%= link_to "MyProfile", current_stakeholder %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Logout', destroy_stakeholder_session_path, method: :delete %></li>
        </ul>

      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-2 col-xs-0"></div>

      </div>
      <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="main_pane col-md-8 col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield :home %>

<% else %>

        <%= yield :home %>
        <%= yield :new_session %>
        <%= yield :new_user %>

<% end %>
<div class="col-md-2 col-xs-0"></div>
</body>

</html>
